<% include ../partials/header %>
    <div class="container">
        <h1 class="text-center">Admin Index</h1>
        <div class="jumbotron text-center">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione accusantium esse aperiam id harum labore similique,
                minima quas tempore culpa ea. Saepe et rerum ipsam molestias! Vel dolores qui natus?</p>
            <a class="btn btn-info" href="/admin/audits/new">Create New Audit</a>
            <a class="btn btn-info" href="/admin/audits/new/bulk">Create Multiple Audits</a>
        </div>
        <h2 class="text-center">All Audits will appear here</h2>
    </div>

    <% include ../partials/footer %>