<% include ../../partials/header %>
<% if (message) { %>
<div class="alert alert-success text-center" role="alert">
  <%=message%>
</div>
<% } %>
<h1 class="text-center">Manage Employees</h1>
<div class="jumbotron text-center">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione accusantium esse aperiam id harum labore
    similique,
    minima quas tempore culpa ea. Saepe et rerum ipsam molestias! Vel dolores qui natus?</p>

  <a href="/admin/employees/new" class="btn btn-primary">Add New Employee</a>

</div>


<ul>
  <%  employees.forEach(employee => { %>
  <li>
    <a href="/admin/employees/<%=employee._id%>"><%=employee.lastName%>, <%=employee.firstName%></a>
  </li>

  <%   }) %>
</ul>



<% include ../../partials/footer %>