<% include partials/header %>
<h1 class="text-center">All Details</h1>
<div class="jumbotron">
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni assumenda, autem quia pariatur fugit minus esse atque dolorum, veniam qui eligendi, officia inventore dicta cupiditate vel! Libero deserunt nam delectus.</p>
        <a class="btn btn-success" href="/details/new">Create New Detail</a>
</div>
<% include partials/footer %>
    
