<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New Detail</title>
</head>
<body>
    <h1>Add New Detail</h1>
    <form action="/details" method="POST">
        <label for="detailDate">Date of Detail: </label>
        <input type="date" name="detailDate" id="detailDate">
        <label for="detailTime">Time of Detail: </label>
        <input type="time" name="detailTime" id="detailTime">
        <label for="detailLocation">Location of Detail</label>
        <input type="text" name="detailLocation" id="detailLocation">
        <label for="numberOfficers">Number of Officers Requested: </label>
        <input type="number" name="numberOfficers" id="numberOfficers" value="1">
        <button>Add Detail</button>
    </form>
    
</body>
</html>