<% include ../partials/header %>
<% if (message) { %>
<div class="alert alert-primary" role="alert">
  <%=message%>
</div>
<% } %>
<h1 class="text-center">Create a New Password</h1>
<p class="lead text-center">Enter your new password in the fields below. Once complete, hit submit and login again.</p>

<form action="/new-password" method="POST">
  <input type="hidden" name="_csrf" value="<%=csrfToken%>">
  <input type="hidden" name="employeeId" value="<%=employeeId%>">
  <input type="hidden" name="passwordToken" value="<%=passwordToken%>">
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <div class="form-group">
    <label for="password">Retype Your Password</label>
    <input type="password" class="form-control" id="passwordRepeat" name="passwordRepeat">
  </div>
  <button class="btn btn-primary">Set New Password</button>
</form>

<% include ../partials/footer %>