<% include ../partials/header %>
<h1 class="text-center">Admin index page</h1>
<a class="btn btn-success" href="/admin/calltakers/new">Create New User Account</a>
<a class="btn btn-success" href="/admin/calltakers/new">Add New Officer to Database</a>
<% include ../partials/footer %>