<h1>Create New Blog Post</h1>

<form action="/blogs" method="POST">
  <label for="title">Title:</label>
  <input required id="title" type="text" name="blog[title]">
  <br>
  <label for="body">Post:</label>
  <textarea required name="blog[body]" id="body" cols="30" rows="10"></textarea>
  <br>
  <label for="tags">Tags (separate each with a comma): </label>
  <input name="blog[tags]" id="tags" type="text" placeholder="E.g. blog, learning, programming, express">
  <br>
  <button>Add New Post</button>
</form>