<% include partials/header %>
<% include partials/navigation %>

<div class="container">
    <h1 class="text-primary text-center">Blog posts</h1>
  <p>This page will serve as the show route to a specific blog post.</p>
    <div class="card mb-3">
      <div class="card-body">
          <h2 class="card-title">
              <%=post.title%>
            </h2>
            <h6 class="card-subtitle text-muted"><%=post.tags%></h6>
            <p class="card-text text-muted">
              <%=post.created.toDateString()%>
            </p>
            <p class="card-body">
              <%=post.body%>
            </p>
            <a href="/blogs" class="card-link">Back</a>
      </div>
    </div>

  </div>


<% include partials/footer %>